.main {
  width: 35vw;
}
.form {
  width: 100%;
  line-height: 1.9;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input,
button {
  border: 1px solid #ccc;
  border-radius: 5px;
}
input {
  padding: 12px 24px;
}
input:focus {
  outline: none;
}
button {
  height: 2.5rem;
}
.todos {
  margin-top: 1rem;
  width: 100%;
}
.todo {
 
}
/*  */
.buttons {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.buttons button{
  display: flex;
  align-items: center;
  padding: 1rem;
}
.todo:hover {
  cursor: pointer;
  opacity: 0.9;
}
.false,.true{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7), 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 1rem;
}
.true div p{
  text-decoration: line-through;
}