.todos{
    margin-top: 40px;
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    animation: transform 0.3s ease-in-out;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.todo:hover {
    cursor: pointer;
    opacity: 0.9;
}